@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    
}
.header{
    background-color:lightblue;
    width: 100%;
    text-align: left;
    position:  fixed;
    display: flex;
    flex-direction: row;
    ;
}

.header h2{
    padding: 0 ;
}

.header img{
    padding: 1%;
}
.Blog-Site{
    position: absolute;
    top: 10%;
    z-index: -5;
    margin: 0 15% 5% 15%;
    padding: 2%;
    background-color: white;
    height:  300%;
}

.article img{
    width: 100%;
    border-radius: 1%;
}

.Info{
    padding-bottom: 0.5rem;
    font-size: 1.1rem;
}

.headline{
    font-size: 2rem;
    font-weight: bold;
    border-top: 50% black
}

.normal-text{
    font-size: 1.2rem;    
}

.quote{
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
}
